# DEXScreener API
NEXT_PUBLIC_DEXSCREENER_API=https://api.dexscreener.com/latest/dex

# Solana RPC
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com

# Phantom Wallet Network
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta